@model SIAMVC.Models.IndexViewModel

@{
	var cssClass = "govuk-heading-l";
	var baseCssClasses = "govuk-input";
	ViewData["Title"] = "Class search";
}

<div class="text-center">
	<h1 class="@cssClass">Stockport image archive</h1>
	<partial name="SearchForm" model="Model" />

	@if (!string.IsNullOrEmpty(Model.Message))
	{
		<span class="govuk-caption-l">@Html.DisplayFor(model => model.Message)</span>
	}

	@if (Model.Photographs != null)
	{
		@if (Model.Photographs.Count > 0)
		{
			<p class="govuk-caption-l"><span id="imageCount"></span> images found</p>
		}

		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			@foreach (var photograph in Model.Photographs)
			{
				<div class="govuk-summary-list__row">
					<dd class="govuk-summary-list__key"><a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = Model.SearchString.Trim(), searchOption = Model.SearchOption.Trim(), searchArea = Model.SearchArea.Trim() })" class="govuk-link"><img src=@photograph.url onError="this.onerror=null;this.src='./assets/images/notfound.jpg';this.class='hidden'" onload="loadImage()" class="Thumbnail" width="180" alt="@photograph.Title" /></a></dd>
					<br />
					<dd class="govuk-summary-list__value"><a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = Model.SearchString.Trim(), searchOption = Model.SearchOption.Trim(), searchArea = Model.SearchArea.Trim() })" class="govuk-link">@photograph.Title</a></dd>

				</div>

			}
		</dl>
	}

</div>
