@model SIAMVC.Models.IndexViewModel
@{
	var cssClass = "govuk-heading-l";
	var baseCssClasses = "govuk-input";
	ViewData["Title"] = "Home Page";

}

<div class="text-center">
	<h1 class="@cssClass">Stockport image archive</h1>
	@using (Html.BeginForm("Index", "Home", FormMethod.Post))
	{
<div class="govuk-form-group">

	@Html.TextBoxFor(m => m.SearchString, new { @class = "govuk-input" })
	@Html.ValidationMessageFor(m => m.SearchString, String.Empty,
   new { @class = "smbc-error-message" })
	<br />
	<input type="radio" value="Title" id="SearchOption" name="SearchOption" />Title only<br />
	<input type="radio" value="All" id="SearchOption" name="SearchOption" />All fields<br />
	<br />
	<input type="submit" value="Search" class="govuk-button" />
</div>
	}

	@if (!string.IsNullOrEmpty(Model.Message))
	{
		<span class="govuk-caption-l">@Html.DisplayFor(model => model.Message)</span>
	}

	@if (Model.Photographs != null)
	{
		@if (Model.Photographs.Count > 0)
		{
			<span class="govuk-caption-l">@Model.Photographs.Count images found</span>
		}

		int count = 0;

		foreach (var photograph in Model.Photographs)
		{
			<a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim() })">
				<img src=@photograph.url style="width:200px" onError="this.onerror=null;this.src='../assets/images/notfound.jpg';" />
			</a>
			
			<p class="govuk-heading-s">
				@photograph.Title <a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim() })">
					<span>View</span>
				</a>
			</p>
			count = count+1;
			<br />
		}
	}
</div>
