@model SIAMVC.Models.Photograph

@{
	var cssClass = "govuk-heading-l";
	ViewData["Title"] = Model.Title;
}


	<p class="govuk-heading-m">
		<a href="@Url.Action("Next", "Home", new { searchString = Model.SearchString, accessionno = Model.AccessionNo, direction = "prev", searchOption = Model.SearchOption, searchArea = Model.SearchArea })">
			<span>< Previous</span>
		</a>
		-
		<a href="@Url.Action("ShowResults", "Home", new { searchString = Model.SearchString, searchOption = Model.SearchOption, searchArea = Model.SearchArea})">
			<span>Search results</span>
		</a>
		-
		<a href="@Url.Action("Next", "Home", new { searchString = Model.SearchString, accessionno = Model.AccessionNo, direction = "next", searchOption = Model.SearchOption, searchArea = Model.SearchArea })">
			<span>Next ></span>
		</a>
	</p>

<h1 class="@cssClass">@Model.Title</h1>



<img src=@Model.url onError="this.onerror=null;this.src='..assets/images/notfound.jpg';"/>
<p class="govuk-caption-l"><strong>@Model.Description</strong></p>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.AccessionNo)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.AccessionNo)</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Classno)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Classno)</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.AccessionNo)</dt>
		<dd class="govuk-summary-list__value">
			@Html.DisplayFor(model => model.AccessionNo)
			<a href="@Url.Action("ClassSearch", "Home", new { classNo = Model.Classno, searchOption = Model.SearchOption, searchArea = Model.SearchArea, searchString = Model.SearchString })">
				More like this
			</a>
		</dd>

	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Photographer)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Photographer)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Dateofimage)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Dateofimage)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Area)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Area)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Incopyright)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Incopyright)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Availabletobuy)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Availabletobuy)</dd>
	</div>
</dl>



	<p class="govuk-heading-s"><a asp-action="Index" class="govuk-heading-m">Home</a></p>
