@model SIAMVC.Models.Photograph

@{
	var cssClass = "govuk-heading-l";
	ViewData["Title"] = Model.Title;
}
	
		<h1 class="@cssClass">@Model.Title</h1>

		<img src=@Model.url onError="this.onerror=null;this.src='../assets/images/notfound.jpg';" />
		<br />
		<div style="text-align:center">
			<a href="@Url.Action("Next", "Home", new { searchString = Model.SearchString, accessionno = Model.AccessionNo.Trim(), direction = "prev", searchOption = Model.SearchOption, searchArea = Model.SearchArea, classNo = Model.Classno })" class="govuk-link">
				<span>Prev</span>
			</a>
			&nbsp;
			<a href="@Url.Action("ShowResults", "Home", new { searchString = Model.SearchString, searchOption = Model.SearchOption, searchArea = Model.SearchArea, classNo = Model.Classno})" class="govuk-link">
				<span>Search results</span>
			</a>
			&nbsp;
			<a href="@Url.Action("Next", "Home", new { searchString = Model.SearchString, accessionno = Model.AccessionNo.Trim(), direction = "next", searchOption = Model.SearchOption, searchArea = Model.SearchArea, classNo = Model.Classno })" class="govuk-link">
				<span>Next</span>
			</a>
		</div>
<p class="govuk-caption-l"><strong>@Model.Description</strong></p>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key"></dt>
		<dd class="govuk-summary-list__value"><strong>Details</strong></dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.AccessionNo)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.AccessionNo)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Classno)</dt>
		<dd class="govuk-summary-list__value">
			@Html.DisplayFor(model => model.Classno)
			<a href="@Url.Action("ClassSearch", "Home", new { classNo = Model.Classno, searchOption = Model.Classno.Trim(), searchArea = Model.SearchArea, searchString = Model.SearchString })" class="govuk-link">
				Show more like this
			</a>
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Photographer)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Photographer)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Dateofimage)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Dateofimage)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Area)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Area)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Incopyright)</dt>
		<dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Incopyright)</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">@Html.DisplayNameFor(model => model.Availabletobuy)</dt>
		<dd class="govuk-summary-list__value">
			@if (Model.Availabletobuy == "Y")
			{
				<a href="@Url.Action("OrderAPrint", "Home", new { classNo = Model.Classno, accessionNo = Model.AccessionNo })" class="govuk-link">
					@Html.DisplayFor(model => model.Availabletobuy)
				</a>
			}
			else
			{
				@Html.DisplayFor(model => model.Availabletobuy)
			}

		</dd>
	</div>
</dl>