@model SIAMVC.Models.IndexViewModel
@{
	var cssClass = "govuk-heading-l";
	var baseCssClasses = "govuk-input";
	ViewData["Title"] = "Home Page";

}

	<div class="text-center">
		<h1 class="@cssClass">Stockport image archive</h1>
		<partial name="SearchForm" model="Model" />

		@if (!string.IsNullOrEmpty(Model.Message))
		{
			<span class="govuk-caption-l">@Html.DisplayFor(model => model.Message)</span>
		}

		@if (Model.Photographs != null)
		{
			@if (Model.Photographs.Count > 0)
			{
				<span class="govuk-caption-l">@Model.Photographs.Count images found</span>
			}


			foreach (var photograph in Model.Photographs)
			{
				<a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim(), searchOption = photograph.SearchOption.Trim(), searchArea = photograph.SearchArea.Trim() })">
					<img src=@photograph.url onError="this.onerror=null;this.src='../assets/images/notfound.jpg';" style="width:200px" />
					<p class="govuk-caption-m" style="margin-top:2px">@photograph.Title</p>
				</a>
			}
		}
	</div>


