@model SIAMVC.Models.IndexViewModel
@{
	var cssClass = "govuk-heading-l";
	var baseCssClasses = "govuk-input";
	ViewData["Title"] = "Home Page";

}

<div class="text-center">
	<h1 class="@cssClass">Stockport image archive</h1>
	<partial name="SearchForm" model="Model" />

	@if (!string.IsNullOrEmpty(Model.Message))
		{
	<span class="govuk-caption-l">@Html.DisplayFor(model => model.Message)</span>
		}

	@if (Model.Photographs != null)
		{
	@if (Model.Photographs.Count > 0)
			{
	<span class="govuk-caption-l">@Model.Photographs.Count images found (old)</span>
			}


			foreach (var photograph in Model.Photographs)
			{
	<a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim(), searchOption = photograph.SearchOption.Trim(), searchArea = photograph.SearchArea.Trim() })">
		<img style="float:left" src=@photograph.url onError="this.onerror=null;this.src='./assets/images/notfound.jpg';" />
		<span class="govuk-caption-m" style="margin-top:2px; float:left">@photograph.Title</span>
	</a>
			}
		}


	@if (Model.Photographs != null)
	{
	@if (Model.Photographs.Count > 0)
		{
	<p class="govuk-caption-l"><span id="imageCount"></span> images found (removed)</p>
		}

	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		@foreach (var photograph in Model.Photographs)
	{
		<div class="govuk-summary-list__row">
			<dd class="govuk-summary-list__key"><a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim(), searchOption = photograph.SearchOption.Trim(), searchArea = photograph.SearchArea.Trim() })" class="govuk-link"><img src=@photograph.url onError="this.onerror=null;this.src='./assets/images/notfound.jpg';this.class='hidden'" onload="loadImage()" class="Thumbnail" width="180" alt="@photograph.Title" /></a></dd>
			<br />
			<dd class="govuk-summary-list__value"><a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim(), searchOption = photograph.SearchOption.Trim(), searchArea = photograph.SearchArea.Trim() })" class="govuk-link">@photograph.Title</a></dd>

		</div>

	}
	</dl>
	}


</div>


